.home{
  color: white;
  position: fixed;
  top: 5%;
  left: 5%;
  padding: 24px;
  width: 500px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  transform: translate(0, 100px);
  opacity: 0;
  transition: all .5s ease;
}

.home--open{
  transform: translate(0, 0);
  opacity: 1;
  transition: all .5s ease;
}
.home__headline{
  font-size: 5rem;
  margin-bottom: 2px;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.26)
}
.home__sub-headline{
  font-size: 1.8rem;
  margin-bottom: 24px;
}
.home__about{
  font-size: 2.2rem;
  margin-bottom: 24px;
}
.home__list{
  font-size: 2.2rem;
  line-height: 3rem;
}