@import './variables';

.prompt{

  padding: 24px;
  position: fixed;
  top: 100px;
  margin-left: -300px;
  width: 600px;
  background-color: $color-blue;
  color: $color-white;
  left: 50%;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  transform: translate(0, -100px);
  opacity: 0;

  &.prompt-open{
    transform: translate(0, 0);
    opacity: 1;
    transition: all .5s ease;
  }

  &.prompt-close{
    transform: translate(0, 100px);
    opacity: 0;
    transition: all .5s ease;
  }

  p{
    margin-bottom: 24px;
  }

  // .button{
  //   padding: 12px;
  //   border-radius: 0;
  //   background-color: $color-green;
  //   border: none;
  //   margin: 0 12px;
  //   color: $color-white;
  //   font-size: 1.4rem;
  // }

  // .button--yes{

  // }

  // .button--no{
  //   border: 2px solid $color-green;
  //   background-color: $color-white;
  //   color: $color-green;
  // }

}
